{% extends 'core/base.html' %}

{% load static %}
{% load carrito_extras %}

{% block title %}Confirmar Pedido{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">  <!-- Agregado mb-5 para margen inferior -->
    <h1>Confirmar Pedido</h1>

    <h3>Resumen de tu pedido</h3>
    <table class="carrito-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.producto.precio }}</td>
                <td>{{ item.cantidad|multiply:item.producto.precio }}</td>
                <td>
                    <a href="{% url 'eliminar_del_carrito' item.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <h3>Total: {{ items|carrito_total|floatformat:2 }} $</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirmar Pedido</button>
        </form>
    </div>
    
</div>
{% endblock %}
